.Aside {
    background: rgb(46, 52, 64);
    box-shadow: 3px 0 5px 3px rgba(46, 52, 64, 0.9);
    align-self: stretch;
    padding-top: 20px;
    text-align: center;
    position: relative;
    z-index: 10;
}

.Nav {
    position: fixed;
    top: 35%;
    width: 150px;
}

.Nav-list {
    list-style: none;
    padding: 0;
}

.Nav-item {
    padding: 10px 0;
    border-bottom: 1px solid #D8DEE9;
}

.Nav-link {
    color: #D8DEE9;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    display: block;
    transition: 0.5s;
}

.active-menu {
    color: #A3BE8C;
}

.Nav-link:hover {
    color: #A3BE8C;
}