*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
  margin: 0;
}

.App {
  display: grid;
  height: 100vh;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 1fr;
  overflow-x: hidden;
  background: #4C566A;
}

@keyframes mount {
  100% {
    transform: translateX(0);
  }
}